.toolbar {
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}
.spacer {
  flex: 1;
}

.toolbar_navigation {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.toolbar_logo {
  margin-left: 1rem;
}

.toolbar_logo a {
  color: #201646;
  text-decoration: none;
  font-size: 1.5rem;
  text-shadow: none;
}

.toolbar_navigation_items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar_navigation_items li {
  padding: 0 0.5rem;
  margin: 0;
}

.toolbar_navigation_items a {
  color: #201646;
  text-decoration: none;
  text-shadow: none;
}

.toolbar_navigation_items a:hover,
.toolbar_navigation_items a:active {
  color: #d85c72;
}

@media (max-width: 768px) {
  .toolbar_navigation_items {
    display: none;
  }
}

@media (min-width: 769px) {
  .togglebar_toggle-button {
    display: none;
  }
  .toolbar_logo {
    margin: 0;
  }
}
