.sidebar .main-navigation .main-nav .current-menu-item .sub-menu,
.sidebar .main-navigation .main-nav .current-menu-ancestor .sub-menu {
  opacity: 1;
  left: auto;
  right: auto !important;
  position: relative;
  width: 100%;
  clear: both !important;
  top: auto;
  float: none;
  visibility: visible;
  pointer-events: auto;
  height: auto;
  display: block;
}

.sidebar .current-menu-item .dropdown-menu-toggle,
.sidebar .current-menu-ancestor .dropdown-menu-toggle {
  display: none;
}
